whatsapp-chatbot/n8n-workflow.json
{
  "name": "WhatsApp Chatbot — Evolution API + Claude",
  "nodes": [
    {
      "parameters": {
        "content": "## ⚙️ Configuração — leia antes de ativar\n\n**1. Criar variáveis em Settings → Variables:**\n- `EVOLUTION_URL` → URL da sua Evolution API  \n  ex: `https://evolution.seudominio.com`\n- `EVOLUTION_APIKEY` → API Key da Evolution API\n- `ANTHROPIC_API_KEY` → Chave da API Anthropic\n\n**2. Configurar webhook na Evolution API:**\n- Acesse sua Evolution API → Instância → Webhook\n- URL: `https://SEU-N8N.com/webhook/whatsapp`\n- Ative o evento: `MESSAGES_UPSERT`\n\n**3. Personalizar o assistente:**\n- Edite o nó **\"Chamar Claude\"**\n- Altere o `system` prompt com as informações da empresa\n\n**4. Ajustar nome da instância:**\n- O nó **\"Extrair Dados\"** lê o `instance` direto do webhook\n- Certifique-se que sua instância Evolution está conectada",
        "height": 340,
        "width": 460,
        "color": 4
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "📋 Instruções de Configuração",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, -60]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "📩 Receber Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 340],
      "webhookId": "whatsapp-evolution-chatbot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-group",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "✅ Mensagem Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "🚫 Ignorar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 520]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-phone",
              "name": "phone",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '') }}",
              "type": "string"
            },
            {
              "id": "assign-text",
              "name": "message_text",
              "value": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}",
              "type": "string"
            },
            {
              "id": "assign-instance",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "assign-name",
              "name": "sender_name",
              "value": "={{ $json.body.data.pushName || 'Cliente' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "📦 Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-text",
              "leftValue": "={{ $json.message_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "💬 Tem Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 500, system: 'Você é um assistente virtual de atendimento ao cliente. Responda sempre em português brasileiro. Seja cordial, objetivo e útil. Não invente informações. Se não souber responder, oriente o cliente a entrar em contato pelo email ou telefone da empresa.', messages: [{ role: 'user', content: $json.message_text }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "🤖 Chamar Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-reply",
              "name": "reply",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "assign-phone2",
              "name": "phone",
              "value": "={{ $('📦 Extrair Dados').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "assign-instance2",
              "name": "instance",
              "value": "={{ $('📦 Extrair Dados').item.json.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "📝 Extrair Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_URL + '/message/sendText/' + $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_APIKEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.phone, text: $json.reply }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "📤 Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "✅ Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_URL + '/message/sendText/' + $('📦 Extrair Dados').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_APIKEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('📦 Extrair Dados').item.json.phone, text: 'Olá! No momento só consigo responder mensagens de texto. Por favor, escreva sua dúvida. 😊' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "⚠️ Avisar Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "✅ Responder OK (mídia)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 480]
    }
  ],
  "connections": {
    "📩 Receber Mensagem": {
      "main": [
        [
          {
            "node": "✅ Mensagem Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Mensagem Válida?": {
      "main": [
        [
          {
            "node": "📦 Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚫 Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Extrair Dados": {
      "main": [
        [
          {
            "node": "💬 Tem Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Tem Texto?": {
      "main": [
        [
          {
            "node": "🤖 Chamar Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Avisar Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Chamar Claude": {
      "main": [
        [
          {
            "node": "📝 Extrair Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Extrair Resposta": {
      "main": [
        [
          {
            "node": "📤 Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar Resposta": {
      "main": [
        [
          {
            "node": "✅ Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Avisar Mídia": {
      "main": [
        [
          {
            "node": "✅ Responder OK (mídia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
